#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_Venture
#build/Ventured::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_Venture)

DEB_INSTALL_EXAMPLES_Ventured += debian/examples/*
DEB_INSTALL_MANPAGES_Ventured += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix Ventured
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f Venture-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake Venture-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_Venture
	src/test_Venture

# Ensure wrapper is set executable
binary-post-install/Ventured:
	chmod +x $(cdbs_curdestdir)usr/bin/Ventured
binary-post-install/Venture-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/Venture-qt
